<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ODP PROTOCAL -->
    <meta property="og:title" content="MITLY URL Shortner" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Share your anoying long links by shortening from our website." />
    <meta property="og:image" content="https://mybigplunge.com/wp-content/uploads/2018/04/url-shortener-theplungedaily.jpg" />
    <!-- ------------ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/27db1a5789.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/cssfile.css">
    <title>MITLY</title>
</head>
<body>
    <div class="navcover">
    <nav>
        <span><a href="/"><i class="fas fa-link"> &nbsp</i>MITLY</a></span>
        <p><a href="/" class="userguide"></a></p>
    </nav>
    </div>
    <%- body%>
</body>
</html>